body{
    background: url("https://images.unsplash.com/photo-1454117096348-e4abbeba002c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
}


.btn-primary {
    background-color: #fc791e;
    border: #e69e19;
}
.btn-primary:hover {
    background-color: #ff9b29;
    color: white;
}
.btn-outline-primary{
    border-color: #fc791e;
    color: #fc791e;
}

.btn-outline-primary:hover{
    background-color: #ff9b29;
    border-color: #ff9b29;
    color: white;
}

.btn-primary.dropdown-toggle{color:#ff9b29;background-color:#ff9b29;border-color:#ff9b29}

.progress-bar{background-color: #fc791e}

.paddingFooter{
    padding-bottom: 15%;
    height: 100%; overflow: auto;
}